body{
    padding: 60px;
    background: rgb(8,6,15);
    background: linear-gradient(95deg, rgba(8,6,15,1) 0%, rgba(34,10,207,1) 47%, rgba(12,3,74,1) 75%);
}

img{
    width: 40%;
    height: 40%;
}

.image{
    
    width: fit-content;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    height:auto;
}
nav ul li a:hover{
    color: red;
    font-size: 20px;
    height:auto;
    text-decoration: line-through;
}

nav ul{
    list-style: none;
    
}

.bar{
    border: solid 4px rgb(61, 59, 59);
    background: rgb(10,10,10);
    background: linear-gradient(95deg, rgba(10,10,10,1) 0%, rgba(117,116,122,1) 47%, rgba(189,186,205,1) 75%);
}

.bar ul{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    gap: 50px;
    text-decoration: none;
}
.section-aside{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.right-side{
}

.left-side{
    padding: 10px;
    width: 90%;

}

.left-side h1{
    font-size: 25px;
    color: red;
}

.left-side h2{
    color: grey;
}
.welcome{
    margin-top: 0px;
    border: solid 2px black;
    margin-bottom: 20px;
    background-color: white;
}


.taxonomie{
    border: solid 2px black;
    margin-bottom: 20px;
    background-color: white;
}

.welcome:hover{
   background-color: grey;
}
.taxonomie:hover{
    background-color: grey;
}
.circular{
    border: solid 1px black;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;

}
.circular:hover{
    background-color: grey;
}

.notification:hover{
    background-color: grey;
}
.latest-news:hover{
    background-color: grey;
}
.notification{
    border: solid 1px black;
    margin-bottom: 20px;
    background-color: white;
}
.latest-news{
    border: solid 1px black;
    margin-bottom: 20px;
    background-color: white;

}

.footer{
    border: solid 4px grey;
    color: white;
    margin-top: -15px;
    background: rgb(10,10,10);
    background: linear-gradient(95deg, rgba(10,10,10,1) 0%, rgba(117,116,122,1) 47%, rgba(189,186,205,1) 75%);
    
}
